.flightCard{
    /*background-color:#eaeaea;*/
    border-radius:10px;
    border-color:#333;
    margin:5px;
    padding:5px;
}

.approvedFlight
{
    /*background-color:#4cff00;*/
    padding:2px
}
